HOST_URL=

ACCESS_TOKEN_SECRET=
AWS_ACCESS_KEY_SECRET=
AWS_ACCESS_KEY_ID=
AWS_BUCKET_NAME=
XUMM_APIKEY=
XUMM_APISECRET=
XUMM_API_KEY=
XUMM_API_SECRET=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOSTD=
DB_USERD=
DB_PASSWORDD=
DB_NAMED=
ENV_TYPE=
# MONGO_URI=
TESTNET_HTTPS=
TESTNET2=
TESTNET=
XRPL_CLIENT=
PLATFORM_NFT_BROKER_ADDRESS=
PLATFORM_NFT_BROKER_ADDRESS_SECRET=
TESTNET_TX=